<a href="https://colab.research.google.com/github/mariocarbache/TTP-summer-23/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Strings & print()

In [36]:
print('Hello World')
# This line uses the print function to show/print "Helllo World" to the user

Hello World

In [1]:
print("""
This is 
a multiple line text
""")
# When using triple "" within the triple function you can print multiple lines

This is
a multiple line text

In [2]:
print("\n\tHi there\n") #Using \n before the string text your text will start in a new line and \t is to make it a title

	Hi there

In [3]:
print("mario" + " carbache") #You can concatenate strings with the plus sign

mario carbache

## Variables

In [4]:
dog=3
cat="Hi" #Python recocnizes variables type automatically

In [5]:
cat #displaying the content of the variable cat

'Hi'

In [6]:
type(dog) #type() function is used to find the type of a specific variable

int

In [7]:
print(cat + " Mario Carbache") #Concatenating a variable and a string

Hi Mario Carbache

In [8]:
print(dog * 2.5) #In print() function you can execute mathematical operations with variables

7.5

In [9]:
cat, dogs, rabbits= 2, 5, "hi" #Initializing 3 variables on the same line

In [10]:
print(dogs) #Showing the content of the variable dog

5

In [11]:
print(rabbits) #Displaying the content of rabbits variable

hi

## More strings

In [15]:
name="Mario Carbache Tiguz"

In [17]:
print(name[3]) #Printing the fourth element in the string name

i

In [18]:
print(name[9]) #Same as above but with the 10 element

b

In [19]:
len(name) #len() function is used to find the lenght of a specific string

20

In [20]:
name[19] #Last element in the name string

'z'

In [21]:
name[-1] #Easier way to print the last element of the string name

'z'

## String formatting

### .format() method

In [22]:
price = 59.99 #float variable

In [24]:
msg= "The price is {} dollars".format(price) # in format() you can put as many variable as you want separate by coma depending on the number {} in the string

In [25]:
msg #Displaying the message

'The price is 59.99 dollars'

### The F string method

In [27]:
price = 19.99
items = 3 #Two variables of float and integer type

In [28]:
msg= f'this idividual item is {price}' #With the f at the beginning of the string you're telling the compiler that the string is being formatted

In [29]:
msg #Displaying the formated message

'this idividual item is 19.99'

In [30]:
msg2= f'total is {price * items}' #You can do mathematical operations inside curly brackets of a formatted string

In [31]:
msg2 #Displaying the message

'total is 59.97'