<a href="https://colab.research.google.com/github/mariocarbache/TTP-summer-23/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Strings & print()

In [2]:
print('Hello World')
# This line uses the print function to show/print "Helllo World" to the user

Hello World

In [3]:
print("""
This is
a multiple line text
""")
# When using triple "" within the triple function you can print multiple lines

This is
a multiple line text

In [4]:
print("\n\tHi there\n") #Using \n before the string text your text will start in a new line and \t is to make it a title

	Hi there

In [5]:
print("mario" + " carbache") #You can concatenate strings with the plus sign

mario carbache

## Variables

In [6]:
dog=3
cat="Hi" #Python recocnizes variables type automatically

In [7]:
cat #displaying the content of the variable cat

'Hi'

In [8]:
type(dog) #type() function is used to find the type of a specific variable

int

In [9]:
print(cat + " Mario Carbache") #Concatenating a variable and a string

Hi Mario Carbache

In [10]:
print(dog * 2.5) #In print() function you can execute mathematical operations with variables

7.5

In [11]:
cat, dogs, rabbits= 2, 5, "hi" #Initializing 3 variables on the same line

In [12]:
print(dogs) #Showing the content of the variable dog

5

In [13]:
print(rabbits) #Displaying the content of rabbits variable

hi

## More strings

In [14]:
name="Mario Carbache Tiguz"

In [15]:
print(name[3]) #Printing the fourth element in the string name

i

In [16]:
print(name[9]) #Same as above but with the 10 element

b

In [17]:
len(name) #len() function is used to find the lenght of a specific string

20

In [18]:
name[19] #Last element in the name string

'z'

In [19]:
name[-1] #Easier way to print the last element of the string name

'z'

## String formatting

### .format() method

In [20]:
price = 59.99 #float variable

In [21]:
msg= "The price is {} dollars".format(price) # in format() you can put as many variable as you want separate by coma depending on the number {} in the string

In [22]:
msg #Displaying the message

'The price is 59.99 dollars'

### The F string method

In [23]:
price = 19.99
items = 3 #Two variables of float and integer type

In [24]:
msg= f'this idividual item is {price}' #With the f at the beginning of the string you're telling the compiler that the string is being formatted

In [25]:
msg #Displaying the formated message

'this idividual item is 19.99'

In [26]:
msg2= f'total is {price * items}' #You can do mathematical operations inside curly brackets of a formatted string

In [27]:
msg2 #Displaying the message

'total is 59.97'

##String functions

In [28]:
dir(msg)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
words = msg.split(' ')

In [31]:
print(words)

['this', 'idividual', 'item', 'is', '19.99']

In [32]:
elements = msg.split('e')

In [34]:
print(elements)

['this idividual it', 'm is 19.99']

In [36]:
print(msg.upper())

THIS IDIVIDUAL ITEM IS 19.99

###The input method

In [37]:
data = input('What is your name: ')

What is your name: Bob

In [39]:
print(data)

Bob

In [41]:
print(f'Hello {data}')

Hello Bob

In [42]:
num=int(input('enter a num: '))

enter a num: 10

In [43]:
type(num)

int

In [48]:
name=(input('Enter your full name: '))
age=int(input('Enter your age: '))
address=(input('Where do you live: '))
occupation=(input('Enter occupation: '))
print(f'Hi {name}, you are {age}, you live in {address}, and your occupation is {occupation}')

Enter your full name: Mario
Enter your age: 24
Where do you live: Brooklyn
Enter occupation: Programmer
Hi Mario, you are 24, you live in Brooklyn, and your occupation is Programmer

##Numbers

In [1]:
cats = 7 #simple integer object
money = -35.5 #float number
x = 2+5j #complex number
message = "Hello Alice!" #string

In [2]:
print(type(cats))
print(type(money))
print(type(x))
print(type(message))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
shoes = 5 #integer object
print(f"I own {shoes} pairs of shoes")
print(type(shoes))

In [3]:
rate = 3/2 #float object
print(f"I can complete {rate} projects per month")
print(type(rate))

I can complete 1.5 projects per month
<class 'float'>

In [4]:
a = 6
b = 2.5
print(f"{a} * {b} = {a * b}") #The result of a multiplication between int and float will be a float
print(type(a * b))

6 * 2.5 = 15.0
<class 'float'>

###Conversions

In [ ]:
value = 3.8
convert = int(value) #converts the float into an integer
print(convert)
print(type(convert))

In [ ]:
number = int("25") #declare variable as an integer
print(number)
print(type(number))

In [ ]:
num2 = 'twenty' #python doesn't know english so this CAN'T be converted into an integer
print(len(num2))

In [ ]:
value = 78
convert = float(value) #converts the int into a float number
print(convert)
print(type(convert))
convert = float("56.48")
print(convert)
print(type(convert))

In [ ]:
value = 38
convert = complex(value) #converts the int into a complex number
print(convert)
print(type(convert))

In [ ]:
value = 28.4875
convert = str(value) #converts the float variable into a string
print(convert)
print(type(convert))

In [ ]:
data = input("Please enter a value: ")
print(int(data)) #prints variable as an integer
print(float(data)) #as a float
print(complex(data)) #as a complex number
print(str(data)) #as a string

In [ ]:
pi = 3.14159
print(type(pi))
print(int(pi))
print(complex(pi))
print(str(pi))

###Operations

In [ ]:
print(259 / 4)

In [ ]:
print(259 % 4) #Modulo operation (the remainder of 259 divided by 4)

In [ ]:
print(9 ** 4) #Power operator 9 to the 4

In [ ]:
print(9 // 4) #Floor operator

###Assingment operators

In [52]:
number=int(input('Enter a number: '))
number+=9 #Add 9 to number
print(number)
number-=1 #Subtract 1 to number
print(number)
number*=3 #Multiple number to 3
print(number)
number/=2 #Divide number by 2
print(number)

Enter a number: 3
12
11
33
16.5

##Lists

In [62]:
data=[] #Lists are containers that can hold multiple objects
for x in range(10):
  element=input('Enter an item: ')
  data.append(element)
print(data)

Enter an item: 1
Enter an item: 2
Enter an item: 3
Enter an item: 4
Enter an item: 5
Enter an item: 6
Enter an item: 7
Enter an item: 8
Enter an item: 9
['1', '2', '3', '4', '5', '6', '7', '8', '9']